.flex {
	display: flex;
	align-items: center;
	margin: 24px;
	font-size: 16px;
}

.label {
	font-size: 32px;
	font-weight: 500;
	user-select: none;
}

.container-id {
	margin-left: 24px;
	margin-top: 5px;
	color: #808080;
	font-weight: 200;
	font-size: 14px;
	min-width: 150px;
}

.list-container {
	margin-inline: 22px;
}

.endpoint-label {
	display: flex;
	justify-items: center;
	gap: 10px;
}

::deep .mud-nested-list .mud-list-item {
	margin: 5px;
	padding: 5px;
	padding-inline: 10px;
	border-radius: 4px;
}

.endpoint-method {
	width: 70px;
	text-align: center;
	font-weight: 400;
	padding: 1px;
	border-radius: 2px;
	font-size: 14px;
}

.endpoint-details {
	border: 2px solid;
	border-top: none;
	position: relative;
	left: 5px;
	top: -8px;
	padding-top: 4px;
}

.section {
	display: flex;
	justify-items: center;
	height: 60px;
	align-items: center;
}

.section-button {
	margin-left: auto;
	margin-right: 12px;
}

.section-label {
	margin-top: 12px;
	margin-bottom: 12px;
	margin-inline: 12px;
	font-weight: 500;
	font-size: 16px;
}

.param-row {
	display: flex;
}

.param-input {
	min-width: 200px;
	margin-top: 10px;
}

::deep .mud-input-label-outlined {
	background-color: #2B2B2B;
}

::deep .mud-input-control > .mud-input-control-input-container > .mud-input-label-outlined.mud-input-label-inputcontrol {
	line-height: 16px;
}

::deep .mud-input-label-outlined {
	transform: translate(12px, 16px) scale(1);
}

::deep .mud-input-slot.mud-input-root-outlined {
	padding: 14px;
}

.param-key {
	margin: 12px;
	min-width: 100px;
}

.param-type {
	color: #808080;
	font-weight: 300;
}

.param-source {
	color: #808080;
	font-weight: 500;
}

.body-container {
	background-color: black;
	margin: 12px;
	padding: 12px;
	border-radius: 5px;
	font-family: Consolas;
}

pre {
	margin: 0;
}

.action-result-row {
	margin: 12px;
}

.status-code {
	color: #808080;
	margin-right: 20px;
}

.status-desc {
	font-weight: 300;
}

.not-found {
	margin-top: 52px;
	user-select: none;
	display: flex;
	justify-content: center;
	align-items: center;
}

::deep .choose-braces {
	margin: 0;
	height: 24px;
	color: #00B577;
	margin-right: 8px;
	margin-top: 3px;
}

.execute-button {
	margin: 12px;
}

::deep textarea {
	font-size: 12px !important;
	font-family: Consolas !important;
	margin: 0 !important;
	padding-bottom: 0 !important;
}

.response-container {
	display: flex;
}

.response-container div:nth-child(2) {
	width: 100%;
}