.data-grid {
	display: grid;
	grid-template-rows: auto;
	border-radius: 4px;
	overflow: hidden;
	margin-top: 16px;
}

.data:hover {
	background-color: rgba(255,255,255,0.1);
}

.data-grid-row {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
	border-bottom: 1px solid #484848;
}

.header .data-grid-cell {
	border-right: 1px solid #484848;
	font-weight: 400;
}

.data-grid-cell {
	padding: 8px;
	padding-left: 24px;
	display: inline-flex;
	align-self: center;
	position: relative;
}

.data .data-grid-cell:last-child {
	padding-left: 8px;
}

.data {
	font-size: 12px;
	padding-top: 6px;
	padding-bottom: 6px;
	cursor: pointer;
	font-weight: 200;
}

.data-grid-cell:last-child {
	border-right: none;
}

.text-overflow {
	width: 100%;
	overflow: hidden;
	display: inline-block;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.status-check {
	margin-right: 6px;
}

.label {
	display: flex;
	margin: 24px;
	user-select: none;
	align-items: center;
}

h1 {
	margin-right: 8px;
}

.select {
	border-radius: 4px;
	padding: 4px;
	background-color: #0d0d0d;
	color: white;
	font-size: 14px;
}

.action-icon {
	cursor: pointer;
	color: #00B577;
	border-radius: 5px;
}

	.action-icon:hover {
		background-color: #333333;
	}

.loader {
	width: 16px;
	height: 16px;
	margin-right: 6px;
	border: 3px solid #FFF;
	border-bottom-color: transparent;
	border-radius: 50%;
	display: inline-block;
	box-sizing: border-box;
	animation: rotation 1s linear infinite;
}

@keyframes rotation {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.not-found {
	text-align: center;
	margin-top: 32px;
	user-select: none;
}

.data-container {
	position: absolute;
	overflow: auto;
	bottom: 0;
	top: 140px;
	left: 0;
	right: 0;
}