.label {
	display: flex;
	margin: 24px;
	user-select: none;
}

.flex {
	display: flex;
	margin-inline: 24px;
	margin-bottom: 40px;
}

	.flex .select:nth-child(2) {
		margin-left: auto;
		margin-right: 24px;
	}

	.flex .select:nth-child(3) {
		margin-right: 24px;
	}

.select {
	width: 200px;
}

.data-grid {
	display: grid;
	grid-template-rows: auto;
	overflow: hidden;
	margin-top: 16px;
}

.data-grid-header {
	font-size: 1.4em;
}

.data-grid-row {
	display: grid;
	grid-template-columns: 1fr 0.5fr 0.6fr 2fr 0.8fr;
	border-bottom: 1px solid #484848;
}

.data:hover {
	background-color: rgba(255,255,255,0.1);
}

.header .data-grid-cell {
	border-right: 1px solid #484848;
	font-weight: 400;
}

.data-grid-cell {
	padding: 8px;
	padding-left: 24px;
	display: inline-flex;
	align-self: center;
	position: relative;
}

.data {
	font-size: 12px;
	padding-top: 6px;
	padding-bottom: 6px;
	cursor: pointer;
	font-weight: 200;
}

.data-grid-cell:last-child {
	border-right: none;
}

.text-overflow {
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	display: inline-block;
}

.text-overflow:first-child {
	display: flex;
}

.resource-badge {
	width: 7px;
	margin-right: 8px;
	filter: saturate(2000%);
}

.not-found {
	text-align: center;
	padding-top: 6px;
	padding-bottom: 6px;
	border-bottom: 1px solid #484848;
	font-weight: 200;
	font-size: 12px;
}

::deep .mud-theme-primary {
	background-color: red !important;
}

.drawer-label {
	display: inline-flex;
	align-items: center;
	margin: 6px;
	margin-left: 22px;
	font-size: 22px;
	user-select: none;
}

.log-details-container {
	background-color: #2B2B2B;
	height: 100%;
}

.drawer-flex {
	padding: 12px;
	padding-left: 22px;
	display: inline-flex;
	align-items: center;
	gap: 7px;
	width: 100%;
	margin-bottom: 32px;
	font-weight: 200;
}

.details-row {
	display: flex;
	align-items: center;
	border-top: 1px solid #484848;
}

	.details-row:last-child {
		border-bottom: 1px solid #484848;
	}

.details-key {
	padding: 8px;
	padding-left: 22px;
	width: 40%;
}

.details-value {
	padding: 8px;
	padding-inline: 22px;
	max-width: 60%;
	border-left: 1px solid #484848;
	min-height: 36px;
	font-weight: 200;
}

.data-container {
	position: absolute;
	overflow: auto;
	bottom: 0;
	top: 229px;
	left: 0;
	right: 0;
}