.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

.top-row {
    background-color: #242424;
    justify-content: flex-end;
    height: 56px;
    display: flex;
    align-items: center;
    position: relative;
}

    .top-row ::deep a, .top-row ::deep .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row ::deep a:hover, .top-row ::deep .btn-link:hover {
        text-decoration: underline;
    }

    .top-row ::deep a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row {
        justify-content: space-between;
    }

    .top-row ::deep a, .top-row ::deep .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

    .sidebar {
        width: 75px;
        position: sticky;
        top: 0;
        bottom: 0;
    }

    .top-row {
        top: 0;
        z-index: 1;
    }

    .top-row.auth ::deep a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}

main { 
    color: white;
    flex: 1;
    border-left: 1px solid #484848;
    border-top: 1px solid #484848;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    left: 75px;
    right: 0;
    bottom: 0;
    top: 0;
}

.content {
    padding: 0 !important;
}

.menu-item {
    font-size: 12px;
    display: flex;
    gap: 8px;
}

.logo {
    position: absolute;
    left: 25px;
    cursor: pointer;
}

.settings {
    padding: 8px;
    border-radius: 8px;
}

.settings:hover {
    background-color: rgba(255,255,255,0.1);
}

.app-name {
    position: absolute;
    left: 95px;
    font-size: 24px;
    cursor: pointer;
    user-select: none;
}