@using MudBlazor
@inherits LayoutComponentBase

<MudThemeProvider Theme="MyCustomTheme" @bind-IsDarkMode="IsDarkMode"/>
<MudPopoverProvider />
<MudDialogProvider />

<div class="top-row"></div>
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>
    <main>
        <article class="content">
            @Body
        </article>
    </main>
</div>

@code {
    private bool IsDarkMode { get; set; } = true;
    private MudTheme MyCustomTheme = new MudTheme()
    {
		PaletteDark = new() {
                Primary = "#1c1c1c",
                TextPrimary = "#ffffff",
				Dark = "#1e1e1e",
				DarkDarken = "#1c1c1c",
				DarkLighten = "#1f1f1f",
                Surface = "#0d0d0d"
        }
    };
}
