.chart-container {
	position: relative;
}

.timestamp-select {
	position: absolute;
	left: 663px;
	top: 85px;
	width: 180px;
}

.datapoint-select {
	position: absolute;
	left: 663px;
	top: 135px;
	width: 180px;
}

.current-route {
	position: absolute;
	left: 730px;
	top: 93px;
	z-index: 2;
}

.total-span {
	position: absolute;
	left: 663px;
	top: 335px;
	width: 180px;
}

::deep .xgrid {
	stroke: #484848 !important;
	stroke-width: 0.5px !important;
}

::deep .crisp {
	stroke: #484848 !important;
}

.refresh {
	position: absolute;
	left: 860px;
	top: 43px;
}
