.data-grid {
	display: grid;
	grid-template-rows: auto;
	overflow: hidden;
	margin-top: 32px;
}

.data-grid-header {
	font-size: 1.4em;
}

.data-grid-row {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
	border-bottom: 1px solid #484848;
}

	.data-grid-row.header {
		font-weight: 100;
	}

.data:hover {
	background-color: rgba(255,255,255,0.1);
}

.header .data-grid-cell {
	border-right: 1px solid #484848;
}

.data-grid-cell {
	padding: 8px;
	padding-left: 24px;
	display: inline-flex;
	align-self: center;
	position: relative;
}

.data {
	font-size: 12px;
	padding-top: 6px;
	padding-bottom: 6px;
	cursor: pointer;
}

.data-grid-cell:last-child {
	border-right: none;
}

.header .data-grid-cell:nth-child(2) svg {
	color: #009c1e;
}

.header .data-grid-cell:nth-child(3) svg {
	color: #dd6800;
}

.header .data-grid-cell:nth-child(4) svg {
	color: #b00000;
}

.chart-container {
	position: relative;
}

.timestamp-select {
	position: absolute;
	left: 730px;
	top: 50px;
	width: 180px;
}

.current-route {
	position: absolute;
	left: 730px;
	top: 93px;
	z-index: 2;
}

.indicator-container {
	position: absolute;
	top: 143px;
	left: 650px;
}

::deep .xgrid {
	stroke: #484848 !important;
	stroke-width: 0.5px !important;
}

::deep .crisp {
	stroke: #484848 !important;
}

::deep .xangularaxistick {
	stroke: white !important;
	stroke-width: 0.1px !important;
}